Figures/
Datasets/Simulated/ISIMIP3A/
Datasets/SImulated/ISIMIP3B/
Datasets/Observational/Irish Meteorological Institute/
Future climate change is projected to lead to increased freshwater growth potential and changes in pace-of-life in Atlantic salmon salmo salar.docx
Cover Letter.docx