Figures/
Datasets/Simulated/ISIMIP3A/
Datasets/SImulated/ISIMIP3B/
Datasets/Observational/Irish Meteorological Institute/
Future climate change is projected to lead to increased freshwater growth potential and changes in pace-of-life in Atlantic salmon salmo salar.docx
Future climate change is projected to lead to increased freshwater growth potential and changes in pace-of-life in Atlantic salmon salmo salar.pdf
Cover Letter.docx
S1.pdf
S1.html
S2.pdf
S2.html
S3.pdf
S3.html
S4.pdf
S4.html